<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>{{ homeLang?.title || "Home" }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="repo" href="/tabs/repo">
      <ion-icon name="book" aria-hidden="true"></ion-icon>
      <ion-label>{{ repoLang?.title || "Repertoire" }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon name="layers" aria-hidden="true"></ion-icon>
      <ion-label>{{ exploreLang?.title || "Explore" }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="cog" aria-hidden="true"></ion-icon>
      <ion-label>{{ settingsLang?.title || "Settings" }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>