<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="genericLang?.back || 'Back'"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ trackAddLang?.title || "Add Track" }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Content -->
  <div class="ion-padding">

    <!-- General -->
    <ion-list-header>
      <ion-label>
        {{ trackAddLang?.general?.title || "General" }}
      </ion-label>
    </ion-list-header>

    <form [formGroup]="generalForm">
      <ion-list [inset]="true">

        <!-- Artist -->
        <ion-item color="light">
          <ion-input formControlName="artist" [label]="trackAddLang?.general?.artist || 'Artist'"
            class="ion-text-right"></ion-input>
        </ion-item>

        <!-- Name -->
        <ion-item color="light">
          <ion-input formControlName="name" [label]="trackAddLang?.general?.name || 'Name'"
            class="ion-text-right"></ion-input>
        </ion-item>

      </ion-list>
    </form>

    <!-- Retention -->
    <ion-list-header>
      <ion-label>
        {{ trackAddLang?.retention?.title || "Retention" }}
      </ion-label>
    </ion-list-header>

    <form [formGroup]="retentionForm">
      <ion-list [inset]="true">
        <!-- Difficulty -->
        <ion-item color="light">
          <ion-select formControlName="difficulty" [label]="trackAddLang?.retention?.difficulty?.title || 'Difficulty'"
            [placeholder]="genericLang?.select || 'Select'" interface="action-sheet"
            (ionChange)="selectDifficulty($event)">
            @if (trackAddLang) {
            <div *ngFor="let diffObj of trackAddLang.retention?.difficulty?.options">
              <div *ngFor="let diff of diffObj | keyvalue">
                <ion-select-option [value]="diff.key">{{ diff.value }}</ion-select-option>
              </div>
            </div>
            }
          </ion-select>
        </ion-item>

        <!-- Volatility -->
        <ion-item color="light">
          <ion-select formControlName="volatility" [label]="trackAddLang?.retention?.volatility?.title || 'Volatility'"
            [placeholder]="genericLang?.select || 'Select'" interface="action-sheet"
            (ionChange)="selectVolatility($event)">
            @if (trackAddLang) {
            <div *ngFor="let volaObj of trackAddLang.retention?.volatility?.options">
              <div *ngFor="let vola of volaObj | keyvalue">
                <ion-select-option [value]="vola.key">{{ vola.value }}</ion-select-option>
              </div>
            </div>
            }
          </ion-select>
        </ion-item>
      </ion-list>
    </form>

    <!-- Instrument -->
    <ion-list-header>
      <ion-label>
        {{ trackAddLang?.instrument?.title || "Instrument" }}
      </ion-label>
    </ion-list-header>

    <form [formGroup]="instrumentForm">
      <ion-list [inset]="true">
        <!-- Instrument -->
        <ion-item color="light">
          <ion-select formControlName="instrument" [label]="trackAddLang?.instrument?.instrument?.title || 'Instrument'"
            [placeholder]="genericLang?.select || 'Select'" interface="action-sheet"
            (ionChange)="selectInstrument($event)">
            @if (trackAddLang) {
            <div *ngFor="let instObj of trackAddLang.instrument?.instrument?.options">
              <div *ngFor="let inst of instObj | keyvalue">
                <ion-select-option [value]="inst.key">{{ inst.value }}</ion-select-option>
              </div>
            </div>
            }
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>

<!-- Add Button -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button [disabled]="!generalForm.valid || !retentionForm.valid || !instrumentForm.valid" (click)="addTrack()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>