<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ settingsLang?.title || "Settings" }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ settingsLang?.title || "Settings" }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <div class="ion-padding">

    <!-- General -->
    <ion-list-header>
      <ion-label>
        {{ settingsLang?.general?.title || "General" }}
      </ion-label>
    </ion-list-header>
    <ion-list [inset]="true">

      <!-- Name -->
      <ion-item [button]="true" color="light" (click)="showNameAlert()">
        <ion-label>
          {{ settingsLang?.general?.name?.title || "Name" }}
        </ion-label>
        <ion-note slot="end">
          @if (name) {
          {{ name }}
          } @else {
          {{ genericLang?.none || "None" }}
          }
        </ion-note>
      </ion-item>

      <!-- Language-->
      <ion-item color="light">
        <ion-select [(ngModel)]="language" [label]="settingsLang?.general?.language?.title || 'Language'"
          [placeholder]="genericLang?.default || 'Default'" color="light" interface="popover"
          (ionChange)="selectLanguage($event)">
          @if (settingsLang) {
          <div *ngFor="let langObj of settingsLang.general?.language?.langs">
            <div *ngFor="let lang of langObj | keyvalue">
              <ion-select-option [value]="lang.key">{{ lang.value }}</ion-select-option>
            </div>
          </div>
          }
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- About -->
    <ion-list-header>
      <ion-label>
        {{ settingsLang?.about?.title || "About" }}
      </ion-label>
    </ion-list-header>
    <ion-list [inset]="true">

      <!-- User-ID -->
      <ion-item color="light">
        <ion-label>
          {{ settingsLang?.about?.userId || "User-ID" }}
        </ion-label>
        <ion-note slot="end">
          {{ userId }}
        </ion-note>
      </ion-item>

      <!-- App-Version -->
      <ion-item color="light">
        <ion-label>
          {{ settingsLang?.about?.version || "App-Version" }}
        </ion-label>
        <ion-note slot="end">
          v{{ version }}
        </ion-note>
      </ion-item>
    </ion-list>

    <ion-text class="ion-text-center" color="medium">
      <p>App Version v{{ version }}</p>
    </ion-text>
  </div>
</ion-content>